<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>RegistrationStudentForm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>

  <servlet>
    <description></description>
    <display-name>UserValidator</display-name>
    <servlet-name>UserValidator</servlet-name>
    <servlet-class>com.UserValidator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserValidator</servlet-name>
    <url-pattern>/UserValidator</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UpdateInformation</display-name>
    <servlet-name>UpdateInformation</servlet-name>
    <servlet-class>com.UpdateInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInformation</servlet-name>
    <url-pattern>/UpdateInformation</url-pattern>
  </servlet-mapping>
</element>
